In [ ]:
# 1. Write a code to reverse astring.
str1 = "Sujay kumar yadav"
reverse=str1[::-1]
print(reverse)

vaday ramuk yajuS

In [ ]:
#2. Write a code to count the no of vowels in a string.
str1 = "Sujay kumar yadav"
count=0
for i in str1:
  if i in "aeiouAEIOU":
    count+=1
print(count)

6

In [ ]:
#3. Write a code to check if a given string is pallindrome or not.
str1 = input('Enter a string:')
revers = str1[::-1]
if str1.lower() == revers.lower():
  print('String is pallindrome')
else:
  print('String is not pallindrome')

Enter a string:madam
String is pallindrome

In [ ]:
#4. Write aprogramn to check if two given strings anagrams of each other
str1 ='Listen'
str2 = 'Silent'
if sorted(str1.lower()) == sorted(str2.lower()):
  print(f"{str1} and {str2} are anagrams")
else:
  print(f"{str1} and {str2} are not anagrams")

Listen and Silent are anagrams

In [ ]:
#5. Write a code to find all occurrences of a given substring in another string.
main_str = 'Herewegotherewe'
sub_str = 'we'
occurrence=[]
for i in range(len(main_str)-len(sub_str)+1):
  if main_str[i:len(sub_str)+i] == sub_str:
    occurrence.append(i)
print(occurrence)

[4, 13]

In [ ]:
#6.write a program to perform basic syting compression using counts of repeated characters.
str1 = 'aaabbbbccccbc'
new_str = ''
i=0
while i< len(str1):
  new_str += str1[i]
  count=1
  i+=1
  while(i<len(str1) and str1[i]==str1[i-1]):
    count+=1
    i+=1
  if count>1:
    new_str = new_str + str(count)

print(new_str)

a3b4c4bc

In [ ]:
#7. Write a code to determine if a string has all unique characters.
test_str = 'uniqe'
if len(test_str) == len(set(test_str)):
  print('String has all unique characters')
else:
  print('String does not have all unique characters')

String has all unique characters

In [ ]:
#8. Write a code to convert a string to uppercase or lower case.
str1 = 'sujay'
print(str1.upper())
print(str1.lower())

SUJAY
sujay

In [ ]:
#9. write a code to count the total no of words in a given string.
str2 = 'I am Sujay. i am learning python'
num=str2.count(' ')
print('total no of words in above string is:',num+1)

total no of words in above string is: 7

In [ ]:
#10. Write a code to concatenate two strings without using + operator.
st1 = 'sujay'
st2 = ' yadav'
st3 = f"{st1}{st2}"
st3

'sujay yadav'

In [ ]:
#11. Write a code to remove all occurrences of aspecific element from a list.
mylist=[1,2,3,'sujay',4,5,'sujay','sujay',6]
element = 'sujay'
i=0
while i< len(mylist):
  if mylist[i]==element:
    mylist.pop(i)
  else:
    i+=1
mylist

[1, 2, 3, 4, 5, 6]

In [ ]:
#12. Implement a code to find the second largest no. in a given list of integers.
int_list =[6,7,4,9,15,22,14]
int_list.sort()
int_list[-2]

15

In [ ]:
#13. Create a code to count the occurrences of each element in a list and return a dictionary with counts as value and elements as key in the dictionary.
my_list =['a','b','c','a','c','d']
a_dic ={}
for i in my_list:
  if i in a_dic:
    a_dic[i]+=1
  else:
    a_dic[i]=1
a_dic

{'a': 2, 'b': 1, 'c': 2, 'd': 1}

In [ ]:
#14. Write a code to revese a list in-place without using any built-in function.
my_list =['a','b','c','a','c','d']
i= 0
j = len(my_list)-1
while i<j:
  temp = my_list[i]
  my_list[i] = my_list[j]
  my_list[j] = temp
  i+=1
  j-=1
my_list

['d', 'c', 'a', 'c', 'b', 'a']

In [ ]:
#15. Implement a code to find and remove duplicates from a list while preserving the order of elements.
m_list = ['a','b','c','a','c','d']
my_set =set()
i=0
while i< len(m_list):
  if m_list[i] in my_set:
    m_list.pop(i)
  else:
    my_set.add(my_list[i])
    i+=1
m_list

['a', 'b', 'c', 'd']

In [ ]:
#16. create a code to check if a given list is sorted (either ascending or descending ) or not.
a_list =[8,6,5,3,2,1]
boo = False
for i in range(len(a_list)-1):
  if a_list[i]<= a_list[1+1]:
    continue
  else:
    if i>0:
      print("not sorted")
      break
    else:
      boo = True
      break
else:
  print('ascending')

if boo == True:
  for i in range(len(a_list)-1):
    if a_list[i]>= a_list[i+1]:
      continue
    else:
      print('not sorted')
      break
  else:
    print('descending')

descending

In [ ]:
#17. Write a code to merge two sorted list into a single sorted list.
list_1 =[2,4,5,7,9]
list_2 =[1,3,5,6,8]
sorted=[]
i=0
j=0

while i<len(list_1) and j<len(list_2):
  if list_1[i]<=list_2[j]:
    sorted.append(list_1[i])
    i+=1
  else:
    sorted.append(list_2[j])
    j+=1

while i<len(list_1):
  sorted.append(list_1[i])
  i+=1

while j<len(list_2):
  sorted.append(list_2[j])
  j+=1

sorted

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [ ]:
#18. Write a code to implement intersection of two given list.
list_1 =[2,4,5,7,9]
list_2 =[1,3,5,6,8]
intersection = []
for i in list_1:
  if i in list_2:
    intersection.append(i)
    list_2.remove(i)
intersection

[5]

In [ ]:
#19. Write a code to find the union of two lists without duplicates.
l1 =[2,4,5,7,5,3,6,9]
l2 =[1,3,5,6,4,5,8]
un =[]
for i in l1:
  if i not in un:
    un.append(i)

for j in l2:
  if j not in un:
    un.append(j)
un

[2, 4, 5, 7, 3, 6, 9, 1, 8]

In [ ]:
#20. Write a code to shuffle a given list randomly without using any built in shuffle function.
import random
lst =[2,4,5,7,5,3,6,9]
n = len(lst)
for i in range(n-1,0,-1):
  j = random.randint(0,i)
  lst[i],lst[j] = lst[j],lst[i]
lst

[5, 2, 4, 7, 3, 9, 5, 6]

In [ ]:
#21. write a code to two tuples as input and return a new tuple containing elements that are common to both input tuples.
tup1 = eval(input("enter tuple1:"))
tup2 = eval(input("enter tuple2:"))
l = []
for i in tup1 :
  if i in tup2:
    l.append(i)
print(tuple(l))

enter tuple1:(3,4,7,5,9)
enter tuple2:(3,5,2,6)
(3, 5)

In [ ]:
#22. Create a code that prompts the user to enter two sets of integer seperated by commas. Then print the intersection of these two sets.
t = eval((input("enter two sets of integers seperated by commas:")))
print(t[0] & t[1])

enter two sets of integers seperated by commas:{1,3,5,7,9},{1,2,3,4,5,6,7}
{1, 3, 5, 7}

In [ ]:
#23. Write a code to cocatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
t1 = eval(input("enter tuple1:"))
t2 = eval(input("enter tuple2:"))
t3 = t1 + t2
t3

enter tuple1:(1,2,3)
enter tuple2:(5,6,7)

(1, 2, 3, 5, 6, 7)

In [ ]:
#24. Develop a code that promps the user to input two sets of strings. Then print the element that are present in first set but not in the second set.
s1 = eval(input("enter set1 of strings:"))
s2 = eval(input("enter set2 of strings:"))
print(s1 - s2)

enter set1 of strings:{'sujay', 'ishika','ayush','piyush'}
enter set2 of strings:{'ayush','piyush'}
{'ishika', 'sujay'}

In [ ]:
#25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from original tuple within the specified range of indices.
inpt = eval(input('enter a tuple and two integers:'))
tup, start, end = inpt
tup[start : end]

enter a tuple and two integers:(2,3,4,5,6,8,9),2,5

(4, 5, 6)

In [ ]:
#26. Write a code that prompts the user to input two set of character. Then print union of these two sets.
inp =eval(input('enter two sets of character:'))
s1, s2 = inp
print(s1 | s2)

enter two sets of character:{'d','c','s','b'},{'g','s','b','k'}
{'b', 's', 'g', 'k', 'd', 'c'}

In [ ]:
#27. Develop a code that takes a tuple of integer as input. The function should return the maximum and minimum value from tule using the tuple unpacking.
def max_min(input_tuple):
  maxv ,minv = max(input_tuple), min(input_tuple)
  return maxv, minv


input_tuple = eval(input('Enter a tuple of integers:'))
ans = max_min(input_tuple)
print(f"max value is {ans[0]} and min value is {ans[1]}")

Enter a tuple of integers:(5,4,3,7,8,1)
max value is 8 and min value is 1

In [ ]:
#28. Create a code that definrs two sets of integer. then print the union, intersection and differnce of these two sets.

set1 = {5,3,7,8,1}
set2 = {9,4,1,2,6}
uni ,inter, diff = set1 | set2, set1 & set2, set1 - set2
print(f"union is {uni}, intersection is {inter}, difference is {diff}")

union is {1, 2, 3, 4, 5, 6, 7, 8, 9}, intersection is {1}, difference is {8, 3, 5, 7}

In [ ]:
#29. Write a code that take a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

def count_element(a_tuple,element):
  return a_tuple.count(element)

input_tup = eval(input('Enter a tuple:'))
input_elem =eval(input('Enter the element to count:'))
c = count_element(input_tup,input_elem)
print(f"Count of {input_elem} present in {input_tup} is {c}")

Enter a tuple:('f','d','s','g','d',)
Enter the element to count:'d'
Count of d present in ('f', 'd', 's', 'g', 'd') is 2

In [ ]:
#30. Write a code that prompts user to input two sets of strings. Then, print the symmetric difference of these two sets.
input_set1 = eval(input("Enter first set of String:"))
input_set2 = eval(input("Enter second set of String:"))
print("symmetric difference of first and second set is", input_set1 ^ input_set2)

Enter first set of String:{'sujay','ishika','hansika','kaka'}
Enter second set of String:{'hansika','kaka','example'}
symmetric difference of first and second set is {'sujay', 'example', 'ishika'}

In [ ]:
#31. Write a code that takes a list of words as input and returns a dictionary where keys are unique words and values are frequencies of those words in the input list.
word_list = eval(input("Enter a list of words:"))
dic = {}
for i in word_list :
  if i in dic:
    dic[i] += 1
  else:
    dic[i] = 1
dic

Enter a list of words:['sujay','ishika','hansika','ishika','sujay']

{'sujay': 2, 'ishika': 2, 'hansika': 1}

In [ ]:
#32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the value should be added together.
dic1 = eval(input("Enter a dictionary:"))
dic2 = eval(input("Enter second dictionary:"))
dic3 = {}
for key in dic1.keys():
  if key in dic2.keys():
    dic3[key] = [dic1[key], dic2[key]]
    del dic2[key]
  else:
    dic3[key] = dic1[key]

for key in dic2.keys():
  dic3[key] = dic2[key]

dic3

{1: 'x', 2: 'y', 3: ['z', 'g'], 6: 'd'}

In [6]:
#33. Write a code to access value in a nested dictionary. The function should take the dictionary and list of keys as input , and return the corresponding values.
#    If any of the keys do not exist in the dictionary, the function should return None.
def getNestedValue(dic, keys):
  current_value = dic
  for key in keys:
    if type(current_value) == dict and key in current_value:
      current_value = current_value[key]
    else:
      return None
  return current_value

dic1 = {'a':{'b':{'c':42}}}
lis = ['a','b','c']

getNestedValue(dic1, lis)

42

In [11]:
#34. Write a code that takes a dictionary as input and return sorted version of it based on the values. You can chose whether to sort in ascending or descending order.
def sortDictOnValue(d):
  sorted_item = sorted(d.items(), key= lambda x: x[1])
  return dict(sorted_item)


m_dict = {'apple': 5, 'banana': 2, 'cherry': 7, 'date': 1}
sortDictOnValue(m_dict)

{'date': 1, 'banana': 2, 'apple': 5, 'cherry': 7}

In [13]:
#35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiples keys have same value
#    by storing the keys as a list in the inverted dictionary.
def swapKeyValue(d):
  new_dict = {}
  for key, value in d.items():
    if value in new_dict:
      new_dict[value].append(key)
    else:
      new_dict[value] = [key]
  return new_dict

m_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
swapKeyValue(m_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}